
pulse/

GitKraken/

gtk-3.0/

gtk-4.0/

vesktop/

systemd/

stylix/

JetBrains/

Insync/

forge/

Bitwarden/

environment.d/

btop/

dconf/

fontconfig/

Code/

autostart/

ags

nixos/hosts/default/hyprland.conf

git/

hypr/
